#{form action:@list().remove('page'), method:'GET'}
    #{if _fields}
        <input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
    #{/if}
    <input type="text" name="search" value="${params.search?.escape()?.raw()}" placeholder="Ingrese su búsqueda..." required/> <input type="submit" value="Buscar" />
    #{if _caller.params.search}
        (<a href="@{list()}">&{'crud.list.totalSize', _caller.totalCount}</a>)
    #{/if}
#{/form}
