#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}" style="font-size: 16px">

    <h2 id="crudShowTitle">Editar &{type.modelName}</h2>

    <div class="objectForm">
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
        #{crud.form /}
        <p class="crudButtons">
            <input type="submit" name="_save" value="Guardar" class="btn btn-success"/>
            <input type="submit" name="_saveAndContinue" value="Guardar y Continuar" class="btn btn-warning"/>
        </p>
    #{/form}
    </div>

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input type="submit" value="Eliminar" class="btn btn-danger" style="font-size: 14px" onclick="return confirm('Estás seguro que desea eliminar el registro?');"/>
        </p>
    #{/form}

</div>