#{extends 'main.html' /}
#{set title:'historia.html' /}

<br>
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
		
			<h1 class="text-center">Contacto</h1>
		</div>
		<div class="col-lg-4">
		</div>
		
		<div class="col-lg-4">
		<h3>Teléfono:</h3>
			<br>
			<p>
			Industrias Metálicas Cotopaxi<br>
			03-253-965
			
			</p>			
			<h3>Correo:</h3>
			imc@ventas.com
			
			<h3>Dirección:</h3>
			Av. Miguel Iturralde, San Silvestre, Latacunga - Ecuador
		
		</div>
				<div class="col-lg-4">
		</div>
		


	</div>
	
<br><br>

</div>