#{extends 'main.html' /}
#{set title:'galeria.html' /}

<section>
		<div class="container">
			
			<br><br>
				
				<div class="col-sm-12 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Línea de Oficina</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla1.gif'}" alt="" />
										<p><h4>Sillón Presidente Ejecutivo</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p>Su base es de nylon de un radio de 340mm. de cinco puntos de apoyo con ruedas de nulon. Cuenta con una perilla inferior de la misma que permite regular la tensión del espaldar vs. el asiento. Tiene regulación del apoyo lumbar.</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla2.gif'}" alt="" />
										<p><h4>Sillón Gerente General</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											
											<p>	Utiliza maderas tirplex post - formadas de 16mm. de espesor en el asiento y de 13mm. de espesor en el espaldar.</p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla3.gif'}" alt="" />
										<p><h4>Silla Secretaria</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
										<p>Base neumática importada con control de altura y reclinación con base tipo araña de 5 puntas en poliuretano de alta densidad y terminales en garruchas de 2”. 
										Asiento e espaldar fabricados en esponja inyectada y recubiertos con cuerina o damasco.</p> 
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla4.gif'}" alt="" />
										<p><h4>Silla Visitas</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Esctructura metálica, fabricada en tubo de aluminio de 2" x 2.0mm. de espesor, recubierto en pintura electrostática en polvo aplicada a 180ºC de temperatura. Asiento fabricado en esponja inyectada y recubierto con cuerina o damasco, color a elegir. </p>
											
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla5.gif'}" alt="" />
										<p><h4>Silla Estudios</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>En la línea de Sillonería Innova su asiento y espaldar son fabricados en madera postformada de 16mm y 13mm de espesor respectivamente. Para sujetar elementos como apoyabrazos, mecanismos y otros.</p>
										
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-sm-4">
								<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="@{'/public/images/3d/silla6.gif'}" alt="" />
										<p><h4>Sillón PC</h4></p>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<p>Base neumática importada con control de altura y reclinación con base tipo araña de 5 puntas en poliuretano de alta densidad y terminales en garruchas de 2”.</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
		
					</div><!--features_items-->
				</div>
			</div>
	</section>