#{extends 'main.html' /}
#{set title:'historia.html' /}

<br>
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
			<h1 class="text-center">Historia</h1>
			<p class="text-justify"  style="text-align: justify;">

					Diseñadores industriales de la U.N. en Palmira recopilaron documentos, fotografías y elementos producidos por Industrias Metálicas de Palmira (IMP), considerada la más importante de metalmecánica del país.

Vallejo Steel Works abrió sus puertas en Palmira en 1928 luego de que don Vicente Vallejo, su dueño, la trasladara desde La Habana (Cuba) con la aprobación del Concejo Municipal de Palmira que buscaba afianzar el progreso de la Villa de las Palmas. Este organismo municipal, además, expidió un decreto por el cual exoneraba de impuestos durante 25 años a las industrias que se asentaran en esta área. 

Así, esta empresa, que en el año 40 cambiaría su nombre a Industrias Metálicas de Palmira (IMP), se estableció en un lote de cuatro mil metros cuadrados aledaño a la antigua estación y bodegas del ferrocarril y en frente de lo que era la Facultad de Agronomía de la Universidad Nacional de Colombia, convirtiéndose en la cuarta empresa más importante de Latinoamérica y la primera metalmecánica del país. 

Mucho era lo que se producía en esta empresa desde catres de hierro, cercas ornamentales para jardines y parques, mallas y tejidos de alambre, puertas, postes angulares de hierro, y distintos muebles de acero como sillas, mesas y butacas, que eran sus productos más reconocidos. 

Pero esta importante fábrica, que tenía más de mil empleados, entre directos e indirectos, llegó a su fin en 1991. Muchas son las versiones del motivo del cierre, desde las constantes protestas del grupo sindical por la falta de garantías laborales, hasta la llegada del polímero al país que causó su descapitalización. 

No obstante, su importancia en el desarrollo de productos y en general en el diseño industrial, hizo que el grupo de investigación en Diseño Industrial (GUIA) de la U.N. en Palmira, coordinado por el profesor Víctor Manuel Díaz, pusiera sus ojos en la realización de una muestra que revelara la importancia de esta empresa para el campo del diseño en el país. 

“Lo importante de esta muestra es la recuperación de la memoria histórica de IMP, desde la mirada del diseño de producto, entendiendo que la producción de muebles de esta empresa cambió el concepto del sector metalmecánico y permitió que los hogares colombianos, especialmente los vallecaucanos se modernizaran a partir de los diseños que ellos realizaron”, sostiene el profesor Díaz. 

No es para menos, IMP producía sillas de diseñadores muy famosos como Marcel Breuer y Le Corbusier, que a pesar de que la patentes ya estaban vencidas en esa época, continuaban produciendo sus productos allí. 

Por ello, un grupo de estudiantes pertenecientes al GUIA, buscó archivos, fotografías, mapas y productos desarrollados por IMP, con el apoyo de trabajadores de esa empresa, encontrando un valiosísimo material que decidieron exponer en la Sede Palmira. 

“A pesar de que el diseño industrial llegó en 1969 al país y que solo hasta 1975 empezaron a salir las primeras promociones de diseñadores industriales, en esta empresa ya se nombraba el diseño industrial. De hecho, encontramos una metodología de desarrollo de producto donde se incluye esta área del conocimiento y sillas ergonómicas con estudios muy modernos donde tenían un estándar geométrico para su desarrollo”, afirma Fanor Mondragón, integrante del GUIA. 

Sillas de todos los tipos, piezas de bicicleta, fotografías y procesos industriales de la empresa, son exhibidas en el corredor del Edificio Administrativo como una muestra de que la empresa sigue viva entre los palmiranos así sus predios estén hoy en ruinas.
				
			</p>
		</div>
		
	</div>
	


</div>