#{extends 'main.html' /}
#{set title:'Home' /}



	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
							<li data-target="#slider-carousel" data-slide-to="3"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12">
									<img src="@{'/public/images/home/sala1.jpg'}" class="img-responsive" alt="" />
									<!--<img src="@{'/public/images/home/pricing.png'}"  class="pricing" alt="" /> -->
								</div>
							</div>
							<div class="item">
								<div class="col-sm-12">
									<img src="@{'/public/images/home/sala2.jpg'}" class="img-responsive" alt="" />
									<!--<img src="@{'/public/images/home/pricing.png'}"  class="pricing" alt="" />-->
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-12">
									<img src="@{'/public/images/home/sala3.jpg'}" class="img-responsive" alt="" />
									<!-- <img src="@{'/public/images/home/pricing.png'}" class="pricing" alt="" /> -->
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-12">
									<img src="@{'/public/images/home/sala4.jpg'}" class="img-responsive" alt="" />
									<!-- <img src="@{'/public/images/home/pricing.png'}" class="pricing" alt="" /> -->
								</div>
							</div>
							
						</div>
						
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 padding-right">
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tshirt" data-toggle="tab">Ventanas</a></li>
								<li><a href="#blazers" data-toggle="tab">Hornos</a></li>
								<li><a href="#sunglass" data-toggle="tab">Puertas</a></li>
								<li><a href="#kids" data-toggle="tab">Sillas</a></li>
								
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tshirt" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/ventana1.jpg'}" alt="" />
												<h2>$156</h2>
												<p>Ventana Cobre</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/ventana2.jpg'}" alt="" height="150px"/>
												<h2>$35</h2>
												<p>Ventana Hierro Fundido</p>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/ventana3.jpg'}"  height="150px" alt="" />
												<h2>$56</h2>
												<p>Ventana de Aluminio</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/ventana4.jpg'}" height="150px" alt="" />
												<h2>$45</h2>
												<p>Ventana Hierro Blanco</p>
											
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="blazers" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/horno1.jpg'}" alt="" />
												<h2>$10500</h2>
												<p>Horno de Pan </p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/horno2.jpg'}" alt="" height="310px"/>
												<br><br><h2>$5300</h2>
												<p>Horno Horizontal</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/horno3.png'}" height="310px" alt="" />
												<br><br><h2>$18500</h2>
												<p>Horno Elecntrónico</p>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/horno4.jpg'}" alt="" height="312px" />
												<br><br><h2>$3356</h2>
												<p>Horno Doble</p>
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="sunglass" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/puerta1.jpg'}" alt="" />
												<h2>$76</h2>
												<p>Puerta con Vidrio</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/puerta2.jpg'}" alt="" height="457px" />
												<h2>$40</h2>
												<p>Puerta en Remate</p>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/puerta3.jpg'}" height="457px" alt="" />
												<h2>$150</h2>
												<p>Puerta de Hierro Reforzado</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/puerta4.jpg'}" height="457px" alt="" />
												<h2>$650</h2>
												<p>Puerta Electrónica</p>
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="kids" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/silla1.jpg'}" alt="" />
												<h2>$25</h2>
												<p>Silla de Aluminio</p>							
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/silla2.jpg'}" height="250px" width="100px" alt="" />
												<h2>$30</h2>
												<p>Silla Azul Simple</p>
												
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/silla3.jpg'}" height="250px" alt="" />
												<h2>$70</h2>
												<p>Silla Giratoria</p>											
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="@{'/public/images/home/silla4.jpg'}" alt="" />
												<h2>$32</h2>
												<p>Silla de Metal Cafe</p>
												
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Productos Recomendados</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="@{'/public/images/home/horno3.png'}" height="310px" alt="" />
													<br><br><h2>$18500</h2>
													<p>Horno Elecntrónico</p>
												</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
												<img src="@{'/public/images/home/puerta4.jpg'}" height="457px" alt="" />
												<h2>$650</h2>
												<p>Puerta Electrónica</p>
												
											</div>
												
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="@{'/public/images/home/silla1.jpg'}" alt="" />
													<h2>$25</h2>
													<p>Silla de Aluminio</p>							
												</div>
												
											</div>
										</div>
									</div>
								</div>
								<div class="item">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="@{'/public/images/home/silla2.jpg'}" height="250px" width="100px" alt="" />
													<h2>$30</h2>
													<p>Silla Azul Simple</p>
													
												</div>
													
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
														<div class="productinfo text-center">
															<img src="@{'/public/images/home/puerta1.jpg'}" height="457px" alt="" />
															<h2>$76</h2>
															<p>Puerta con Vidrio</p>
															
														</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
												<img src="@{'/public/images/home/silla4.jpg'}" height="250px"  alt="Silla" />
												<h2>$32</h2>
												<p>Silla de Metal Cafe</p>
												
											</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
		<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<ul class="list-inline item-details">
					<li><a href="http://themifycloud.com">ThemifyCloud</a></li>
					<li><a href="http://themescloud.org">ThemesCloud</a></li>
				</ul>
			</div>
		</div>
	</section>


  
 
</body>
</html>