#{extends 'main.html' /}
#{set title:'Misión y Visión' /}
<br>
<div class="container">
	<div class="row">
	
		<div class="col-lg-12">
			<h1 class="text-center">Misión</h1>
			<p class="text-justify">
				<span class="col-lg-3"></span>
				<h4 class="text-center col-lg-6" style="text-align: justify;">
					Ser la empresa líder en producción y comercialización de artículos metálicos, 
					entregando a sus clientes, productos de servicios que satisfagan sus necesidades 
					y expectativas. Partiendo de sólidos principios, mantener altos estándares de calidad
					 y eficiencia, a través del mejoramiento continuo de todos los procesos de nuestra organización,
					  direccionados a nuestros mercados de desarrollo para ser competitivos y generar valor agregado 
					  a todos nuestros productos y servicios.
				</h4>
			</p>
		</div>
		
	</div>
	
	<br><br>
		<div class="row">
	
		<div class="col-lg-12">
			<h1 class="text-center">Visión</h1>
			<p class="text-justify">
				<span class="col-lg-3"></span>
				<h4 class="text-center col-lg-6" style="text-align: justify;">
					Se proyecta como una organización 
					líder e innovadora a nivel nacional e internacional en la producción 
					y comercialización de artículos metálicos. Nuestra meta es alcanzar 
					la satisfacción de todos nuestros clientes, con el compromiso de mejorar 
					continuamente nuestros procesos productivos. Asegurar la confianza y al 
					calidad de vida de nuestros colaboradores, el retorno oportuno de 
					la rentabilidad para nuestros accionistas, además de mantener los índices 
					de crecimiento de la organización, serán el mejor soporte para alcanzar nuestros objetivos.
				</h4>
			</p>
		</div>
		
	</div>


</div>
<br><br>